main {
    border: 2px solid red;
    border-radius: 10px;
    padding: 32px;
    background: green;
}
menu {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    list-style-type: none;
}