#app-root {
  position: relative;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  place-items: center;
  place-content: center;
  text-align: center;
  background: #ff009d;
  background: radial-gradient(circle,rgba(255, 0, 157, 0.78) 0%, rgba(199, 87, 186, 1) 50%, rgba(237, 83, 83, 1) 100%);
}